*.o
*.so
*.Tpo
*.beam
erl_crash.dump
rel/rcouch-*.tar.gz


rel/archive

# building
apps/*/ebin/
rel/dbcore
rel/overlay.config
config.mk

# testing
.eunit
@abs_top_builddir@/
apps/couch/test/temp*

# dev
rel/dev*
rel/tmpdata

# vim 
*.swp
*.dump

# rebar deps
deps

# rel
rel/rcouch
rel/dev.config
rel/rcouch.config
