% Licensed under the Apache License, Version 2.0 (the "License"); you may not
% use this file except in compliance with the License. You may obtain a copy of
% the License at
%
%   http://www.apache.org/licenses/LICENSE-2.0
%
% Unless required by applicable law or agreed to in writing, software
% distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
% WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
% License for the specific language governing permissions and limitations under
% the License.

{sys, [
    {lib_dirs, ["../", "../deps"]},
    {rel, "refuge", "0.3", [
        kernel,
        stdlib,
        sasl,
        crypto,
        ssl,
        inets,
        xmerl,
        runtime_tools,
        mochiweb,
        ibrowse,
        oauth,
        ejson,
        snappy,
        couch,
        geocouch,
	rhttpd,
	babelstat,
	appmon,
	couchc
    ]},
    {rel, "start_clean", "", [kernel, stdlib]},
    {boot_rel, "refuge"},
    {profile, embedded},
    {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)"]},
    {excl_archive_filters, [".*"]},

    {app, couch, [{incl_cond, include}]}
]}.

{overlay_vars, "refuge.config"}.
{overlay, [
    {mkdir, "var/log"},
    {mkdir, "var/run"},
    {copy, "overlay/bin"},
    {copy, "overlay/etc"},
    {copy, "overlay/share"},
    {copy, "../deps/couch/share"},
    {copy, "../deps/couchjs/couchjs", "bin/couchjs"},
    {copy, "../deps/couchjs/main.js", "share/couchjs/main.js"},
    {copy, "../deps/couchjs/main-coffee.js", "share/couchjs/main-coffee.js"},
    {copy, "../deps/geocouch/share/www/script/test/*.*", "share/www/script/test/"},
    {template, "overlay/etc/refuge/default.ini", "etc/refuge/default.ini"},
    {template, "overlay/bin/refuge", "bin/refuge"},
    {template, "overlay/etc/refuge/vm.args", "etc/refuge/vm.args"},
    {template, "overlay/etc/logrotate.d/refuge", "etc/logrotate.d/refuge"}, 
    {template, "overlay/etc/default/refuge", "etc/default/refuge"},
    {template, "overlay/etc/rc.d/refuge", "etc/rc.d/refuge"}
]}.
